@import '../../variables/variables.scss';
.settings-page{
    max-height: 100%;
    height: 100vh;
    z-index: 0;
    gap:40px;
}
.settings-page_white{
    background-color: $color-white;
  }

  .settings-page_black{
    background-color: $color-dark;
}
.opacity{
    background: rgba(45, 45, 45, 0.75);
}